@using Design101.WebSite.Resources
@using Design101.WebSite.Extensions

@section Styles
{
    <style type="text/css">
        body
        {
            padding-top: 60px;
        }
    </style>
}

@section Menu
{
    <li><a href="@Url.Action("Index", "User")"><i class="icon-home icon-white">
    </i>@Localization.Menu_User</a></li>
    <li><a href="@Url.Action("Index", "Document")"><i class="icon-home icon-white">
    </i>@Localization.Menu_Document</a></li>
}

<div class="row">
    <div class="col-sm-3 col-lg-offset-1 col-lg-3">
        @Html.Profile()
    </div>
    <div class="col-sm-3 col-lg-3">
        @Html.Summary()
    </div>
    <!-- DONUT CHART BLOCK -->
    <!--<div class="col-sm-3 col-lg-3">
        <div class="dash-unit">
            <dtitle>Disk Space</dtitle>
            <hr>
            <div id="space">
            </div>
            <h2>
                65%</h2>
        </div>
    </div>-->
    <div class="col-sm-3 col-lg-3">
        @Html.Timer()
        @Html.LastLoginUser()
    </div>
</div>
<!-- /row -->

@section Scripts
{
    <script type="text/javascript" src="@Url.Content("~/Scripts/admin.js")"></script>
}

