@using Framework.MVC.Resources
@using Design101.Entities.Resources

@model Design101.Entities.User

@section Styles
{
    <style type="text/css">
        body
        {
            padding-top: 60px;
            background-color:silver;
        }
        input[type=text], textarea
        {
            background:#ffffff !important;
        }
    </style>
}

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true, null, new { @class = "bg-danger" })
    @Html.HiddenFor(model => model.UserId)
    
    <div class="row">
        <div class="col-lg-5">
            <fieldset>
                <legend>@PersistanceResource.Edit @Ent_UserResource._Caption</legend>
                <div class="form-group">
                    @Html.LabelFor(model => model.RoleId)
                    @Html.DropDownListFor(model => model.RoleId, null, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.RoleId, null, new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Name)
                    @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Name, null, new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Username)
                    @Html.TextBoxFor(model => model.Username, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Username, null, new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Password)
                    @Html.TextBoxFor(model => model.Password, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Password, null, new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Enabled)
                    @Html.EditorFor(model => model.Enabled)
                </div>
                <p>
                    <input type="submit" value="@PersistanceResource.Save" />
                    @Html.ActionLink("Back to List", "Index", new { }, new { @class = "btn btn-link" })
                </p>
            </fieldset>
        </div>
        <div class="col-lg-5">
            <fieldset>
                <legend>Additional Info</legend>
                <div class="form-group">
                    @Html.LabelFor(model => model.Location)
                    @Html.TextBoxFor(model => model.Location, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Address)
                    @Html.TextBoxFor(model => model.Address, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Phone)
                    @Html.TextBoxFor(model => model.Phone, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Mobile)
                    @Html.TextBoxFor(model => model.Mobile, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Email)
                    @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
                </div>
            </fieldset>
        </div>
    </div>
                
}

@section Scripts
{
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
}
