@using Design101.WebSite.Resources

@model Tuple<int, int, double, int>

<div class="dash-unit">
    <dtitle>@Localization.Dashboard_Summary</dtitle>
    <hr>
    <div class="cont">
        <p>
            <a href="@Url.Action("Index", "User")">
                <bold>@Model.Item1</bold>
                <span style="color:#ffffff;">|</span>
                <ok>@Localization.Menu_User</ok>
            </a>
        </p>
        <br>
        <p>
            <a href="@Url.Action("Index", "Document")">
                <bold>@Model.Item2</bold>
                <span style="color:#ffffff;">|</span>
                <span style="color:#ffffff;">@Localization.Menu_Document</span>
            </a>
        </p>
        <br>
        <p>
            <bold>@Model.Item3</bold>
            | <span class="text-primary">Mb.</span>
        </p>
        <br>
        <p>
            <img src="@Url.Content("~/Content/Images/up-small.png")" alt="" />
            @Model.Item4 @Localization.Dashboard_UploadToday</p>
    </div>
</div>
